<li id="restaurent-list">
    <div id="main-page">

       
        <h2><%= key.resName %></h2>
        <p><%= key.rescuisine %></p>
        <p><%= key.resAddress %></p>
       <p><b><%= key.resDiscription %></b></p>
       <div class="restaurent-action">
        <a href="<%= key.resWeb %>">View Website</a>
       </div>
    
    </div>
</li>